#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(http://www.rudebaguette.com/assets/ecommerce-12.jpg) no-repeat center;
    background-size: cover;
    }
    
    
    #banner_content{
        position: relative;
        padding-top: 6%;
        padding-bottom: 6%;
        margin-top: 12%;
        margin-bottom: 12%;
        background-color: rgba(0,0,0,0.7);
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        padding: 10px 0;
        background-color: #101010;
        color: #9d9d9d;
        bottom: 0;
        width: 100%;
        
    }
    
    .row-style{
        margin-top: 10px;
    }
    
    .con-style{
        margin-top: 60px;
        padding-bottom: 60px;
    }
    
    .p_text{
        text-align: center;
        font-size: 25px;
    }
    
    .con-style-1{
        margin-top: 120px;
    }
    
    .responsive{
        width: 100%;
        height: auto;
        
    }
    
    .thumbnail .adjust_1{
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
